FANZA_API_ID=
FANZA_AFFILIATE_ID=
FANZA_QUERY=
FANZA_ACTRESS_ID=
X_API_KEY=
X_API_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_SECRET=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SHEET_ID=
GOOGLE_DRIVE_FOLDER_ID=
X_MEDIA_UPLOAD_URL=https://api.x.com/2/media/upload

